@page "/counter"

<h2 class="white-text"><b>Counter</b></h2>
<hr class="white-horizontal-line" />

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
