@page "/"

<h1 class="white-text"><b>Film Shop</b></h1>
<hr class="white-horizontal-line"/>

<h5><p>Welcome to film shop.</p></h5>
<br/>
<img src="camera.png" alt="camera" style="height: 20vmax; display: block; margin-left: auto; margin-right: auto"/>